<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width , init:"> 
<link rel="stylesheet" href="login.page.css">
    <title>Login Page</title>
</head>
<body>
    <div class="Login">
      
        <img src="Round Photo_Feb092024_012233.png" alt="">
      <h1>Login Page</h1>
        <form>
            <label> Username</label>
            <input type="text " placeholder="Enter your Username">
            <label >Password</label>
            <input type="password" placeholder="Enter your Password" id="password">
        <input type="submit" value="Login" onclick= "home">
        <br>
        <a href="#">Forget Password</a>
        </form>
    </div>
    <header>
        <a href="#" class="logo">Eng:Saeed Alagamy</a>
    <nav>
        <ul class="nav-ul">
     <li>  <a href="" class="anchor-1">Home</a></li> 
     <li><a href="vido.page.html" class="anchor-2">videos</a></li> 
        <li> <a href="pdf.html" class="anchor-3">pdf</a></li>
        <li> <a href="homework.html" class="anchor-4">Homework</a></li>
        <li><a href="Exam.html" class="anchor-5">Exams</a></li>
        <div class="selection"></div>
    </ul>
    </nav>
</header>
</body>
</html>